# Database
DB_NAME=fefu_lab
DB_USER=django_user
DB_PASSWORD=django_password

# Django
SECRET_KEY=your-secret-key-change-in-production
DEBUG=0
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Docker
NGINX_PORT=80