*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.db
*.sqlite3
*.db.sqlite3
*.sqlite
*.db.sqlite
*.db.wal
*.db-shm
*.db-wal
instance/
.webassets-cache
.sass-cache/
.cache/
.nox/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
node_modules/
.npm/
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
*.tgz
.yarn-integrity
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
docker-compose.override.yml
Dockerfile*
docker-compose*
.dockerignore
.git/
.gitignore
README.md